/* styles for Capstone
Justin Aune, 2015*/

html, body {
    height: 100%    
}

body {
    background-color: gray;
    margin: 0;
}

#main {
    position:relative;
    top:0;
    bottom:0;
    left:0;
    right:0; 
    width: 1200px; /*otherwise div defaults to page width*/
    margin: 0 auto;
    /*width: 1000px;
    margin: 0px auto;
    margin-top: -8px;*/
    background-color: white;
    font-family: arial;
    min-height: 100%;
}
/*the general student homepage*/
#top {
    width: 1200px;
    border-bottom: solid 1px black;
    text-align: center;
    
}

.menubar {
    border-bottom: solid 1px black;
    text-align: center;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
}

.menubar a {
    text-decoration: none;
}

.menubar a:visited {
    color: gray;
}

.menubar a:hover {
    background-color: black;
    color: white;
}

.pagination {
    text-align: center;
    padding: 5px 0px 5px 0px;
    border-bottom: thin solid black;
}

.pagination a {
    text-decoration: none;
}

.pagination a:visited {
    text-decoration: none;
    color: gray;
}

.pagination a:hover {
    text-decoration: none;
    background-color: black;
    color: white;
}

.content {
    min-height: 780px; /*this cannot be a permenant solution.  min-height: 100% and other attempts have failed to get it working, though*/
    overflow: hidden;
    display: flex; /*this is probably the main component that makes everything stretch to the bottom of the page*/
}

#studentNav {
    float: left;
    width: 199px;
    border-right: solid 1px black;
    min-height: 100%
    align-items: stretch;
}

.innerStudentNav {
    width: 190px;
    margin: 3px auto;
    font-weight: bold;
}

.innerStudentNav a {
    text-decoration: none;
}

.innerStudentNav a:visited {
    color: gray;
}

.innerStudentNav a:hover {
    background-color: black;
    color: white;
}

/*.innerStudentNavLink {
    padding-bottom: 5px;
}*/

#student {
    float: left;
    width: 399px;
    border-right: solid 1px black;
    min-height: 100%;
    align-items: stretch;
}

.postOutput {
    width: 390px;
    margin: 3px auto;
    padding: 2px;
    border: dotted thin black;
}

.imageOutput {
    width: 390px;
    margin: 3px auto;
}

#question {
    float: left;
    width: 200px;
    min-height: 100%;
    align-items: stretch;
}

.questionOutput {
    width: 190px;
    margin: 3px auto;
    padding: 2px;
    border: dotted thin black;
}

#instructor {
    float: left;
    width: 399px;
    border-left: solid 1px black;
    min-height: 100%;
    align-items: stretch;
    
}

.instructorOutput {
    width: 390px;
    margin: 3px auto;
}

#bottom {
    width: 1200px;
    position:relative;
    bottom:0;
    border-top: solid 1px black;
    text-align: center;
}